.loading__main-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.loading__animation {
    width: 7rem;
    height: 7rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}